body {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

#editor {
    width: 600px;
    padding: 10px 10px;
    border: 1px dashed #ccc;
    border-radius: 4px;
    text-align: center;

}
[contenteditable] {
    outline: 0 solid transparent;
}

.editor-field a:hover {
    cursor: pointer;
}
p {
    margin:0;
    padding: 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
}

.toolbar-div {
    border: 1px solid #ddd;
    position: fixed;
    padding: 5px 10px 5px 10px;
    text-align: center;
    background-color: #fff;
    z-index: 1;
}

.button {
    background-color: whitesmoke;
    border: none;
    color: lightslategray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: larger;
    height: 100%;
}

.sel-btn {
    color: whitesmoke;
    background-color: #8793a4;
    border-radius: 4px;
}

.tool-link input {
    background-color: whitesmoke;
    border: none;
    color: lightslategray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    visibility: hidden;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    color: #8793a4;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    font-size: 12px;
    position: absolute;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
}